<!DOCTYPE html>
<html>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>

  <body>
    <h1>Wecome to Odin-book, <%= @user.username %></h1>

    <p>You have successfully registered! Thank you for visiting us and have a wonderful day! :}</p>

    <p>P.S. This is the only email we will ever send out!</p>
  </body>
</html>
