<h1>Posts#index</h1>
<%= link_to 'Create new post', new_post_path %>

<ul>
<% @posts.each do |post| %>
  <li>
    <%= post.content %>
    <% if post.liking_users.include?(current_user) %>
      <% like = Like.find_by(post:, user: current_user) %>
      <%= button_to 'Unlike', like_path(like), method: :delete %>
    <% else %>
      <%= button_to 'Like', likes_path, params: { post:, user: current_user } %>
    <% end %>
  </li>
<% end %>
</ul>
