<h1>Posts#index</h1>
<%= link_to 'Create new post', new_post_path %>

<ul>
<% @posts.each do |post| %>
  <li>
    <%= post.user.email %>
    <%= post.content %>
    <% if post.liking_users.include?(current_user) %>
      <% like = Like.find_by(post:, user: current_user) %>
      <%= button_to 'Unlike', like_path(like), method: :delete %>
    <% else %>
      <%= button_to 'Like', likes_path, params: { post:, user: current_user } %>
    <% end %>
    <p>
    Liked by
    <% post.liking_users.each do |user| %>
      <%= user.email %>
    <% end %>
    </p>

    <%= form_with model: Comment.new do |form| %>
      <%= hidden_field_tag 'comment[post_id]', post.id %>
      <%= form.text_field :content %>
      <%= form.submit %>
    <% end %>

    <ul>
      <% post.comments.each do |comment| %>
        <li><%= comment.user.email %> <%= comment.content %></li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>
