<p class="post-liked-by">
<% if post.liking_users.length > 0 %>
  Liked by
  <% post.liking_users.each do |user| %>
    <%= user.username.present? ? user.username : user.email %>
  <% end %>
<% else %>
  Be the first to like this post!
<% end %>
</p>
