<div class="post-interaction-buttons">
  <div class="post-like-unlike-form">
    <%= render 'post_like_unlike_button', post: %>
  </div>

  <button type="button" class="comments-toggle"  data-action="click->comment#toggleVisibility">
    <%= pluralize(post.comments.length, 'Comment') %>
  </button>
</div>
