<p class="post-content"><%= post.content %></p>

<% if post.image.attached? %>
  <div class="post-image">
    <%= image_tag post.image.representation(resize_to_fit: [nil, 500]).processed.url %>
  </div>
<% end %>
